RABBITMQ_DEFAULT_USER=fbserviceext
RABBITMQ_DEFAULT_PASS=DevOnly_RabbitMq2026!
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_PORT=6380

GRAYLOG_WEB_PORT=9000
GRAYLOG_GELF_UDP_PORT=12201
GRAYLOG_PASSWORD_SECRET=DevOnly_GraylogSecret_2026_Long
GRAYLOG_ROOT_PASSWORD_SHA2=a5842fe7a404558fd08b82a689a7185203fbd1d060b7606962b1fda2ce702b24
GRAYLOG_HTTP_EXTERNAL_URI=http://127.0.0.1:9000/
OPENSEARCH_INITIAL_ADMIN_PASSWORD=VioletRiver!2026
